@media screen and (max-width: 1880px){
    html {
        font-size: 97.9166px;
    }
}
@media screen and (max-width: 1830px){
    html {
        font-size: 95.3125px;
    }
}
@media screen and (max-width: 1780px){
    html {
        font-size: 92.7083px;
    }
}
@media screen and (max-width: 1730px){
    html {
        font-size: 90.1041px;
    }
}
@media screen and (max-width: 1680px){
    html {
        font-size: 87.5px;
    }
}
@media screen and (max-width: 1630px){
    html {
        font-size: 84.8958px;
    }
}
@media screen and (max-width: 1580px){
    html {
        font-size: 82.2916px;
    }
}
@media screen and (max-width: 1530px){
    html {
        font-size: 79.6875px;
    }
}
@media screen and (max-width: 1480px){
    html {
        font-size: 77.0833px;
    }
}
@media screen and (max-width: 1430px){
    html {
        font-size: 74.4791px;
    }
}
@media screen and (max-width: 1380px){
    html {
        font-size: 71.875px;
    }
}
@media screen and (max-width: 1330px){
    html {
        font-size: 69.2708px;
    }
}
@media screen and (max-width: 1280px){
    html {
        font-size: 66.6666px;
    }
}
@media screen and (max-width: 1230px){
    html {
        font-size: 64.0625px;
    }
}
@media screen and (max-width: 1180px){
    html {
        font-size: 61.4583px;
    }
}
@media screen and (max-width: 1130px){
    html {
        font-size: 58.8541px;
    }
}
@media screen and (max-width: 1080px){
    html {
        font-size: 56.25px;
    }
}
/* @media screen and (max-width: 1030px){
    html {
        font-size: 53.6458px;
    }
}
@media screen and (max-width: 980px){
    html {
        font-size: 51.0416px;
    }
}
@media screen and (max-width: 930px){
    html {
        font-size: 48.4375px;
    }
}
@media screen and (max-width: 880px){
    html {
        font-size: 45.8333px;
    }
}
@media screen and (max-width: 830px){
    html {
        font-size: 43.2291px;
    }
}
@media screen and (max-width: 780px){
    html {
        font-size: 40.625px;
    }
}
@media screen and (max-width: 730px){
    html {
        font-size: 38.0208px;
    }
}
@media screen and (max-width: 680px){
    html {
        font-size: 35.4166px;
    }
}
@media screen and (max-width: 630px){
    html {
        font-size: 32.8125px;
    }
}
@media screen and (max-width: 580px){
    html {
        font-size: 30.2083px;
    }
}
@media screen and (max-width: 520px){
    html {
        font-size: 27.3684px;
    }
}
@media screen and (max-width: 460px){
    html {
        font-size: 23.9583px;
    }
}
@media screen and (max-width: 440px){
    html {
        font-size: 22.9166px;
    }
}
@media screen and (max-width: 420px){
    html {
        font-size: 21.875px;
    }
}
@media screen and (max-width: 400px){
    html {
        font-size: 20.8333px;
    }
}
@media screen and (max-width: 380px){
    html {
        font-size: 19.7916px;
    }
} */
/* @media screen and (max-width: 360px){
    html {
        font-size: 48px;
    }
}
@media screen and (max-width: 340px){
    html {
        font-size: 48px;
    }
}
@media screen and (max-width: 320px){
    html {
        font-size: 45.3333px;
    }
} */
