html, body {
	height: 100%;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	margin-top: .3rem;
}
.form {
	display: flex;
	flex-direction: column;
	width: 7rem;
}
.form-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: .6rem;
	font-size: .18rem;
	font-weight: bold;
}
.form-item input {
	border: 0;
	height: .45rem;
	width: 5.25rem;
	font-size: .2rem;
}
